.active{

    text-decoration: underline;
}

.navBtn{
margin-right: 14px;
font-size: 20px;
padding: 5px 9px;
border-radius: 7px;
}
.navBtn:hover{

    background-color: rgb(86, 84, 83);
}
.navBtn:active{
    transform: scale(0.95);
}